[2017-07-06 16:08] ityler opened #10 "Bad Link on Shows Page"
Link to Scott's webpage is bad. Works by adding "www." or by forcing "http" over "https" and relying on the redirect to correctly reroute.

[2017-07-06 16:29] stolinski commented on #10
Fixed in https://github.com/wesbos/Syntax/commit/42df32697990bb70431308335d12d77a542be646

If you clear your cache, leveluptutorials.com will correctly redirect to www. The issue is browser cached to be https://leveluptutorials.com which isn't throwing a redirect due to these restrictions: https://support.dnsimple.com/articles/redirector-https

The solution would be to have a custom redirect serve

[2017-07-06 16:29] #10 closed

[2017-07-06 16:33] ityler commented on #10
@stolinski Ah thanks for taking the fix, I guess I'll close the pull request I made then. Interesting I was having the problem even though I had never been to either site before in the past. Not sure exactly how you are doing redirects but in my case I would rewrite the URL in apache mod_rewrite.

[2017-07-06 16:38] stolinski commented on #10
Oh, I see now that the links were using https.

Unfortunately, I'm hosting on a platform that doesn't give me that kind of control without firing up another container. I could point the domain to an apache server or node server that handles the redirect... maybe a lambda function would do the trick.

[2017-07-06 16:38] ityler commented on #10
Just to clarify, so the expected behavior of leveluptutorials.com is for the connection to be refused(die) in the event "www" is not included in the URL? Even with my cache cleared I am still not being redirected with the URL of (https://leveluptotorials.com)

[2017-07-06 16:46] stolinski commented on #10
It's because of the https which isn't supported. If you were to have http://leveluptutorials it would properly redirect. That is currently the expected behavior although I should have a better solution working today.

[2017-07-06 19:39] stolinski commented on #10
FYI, I setup an nginx redirect server for https://leveluptutorials.com all seems to be working now.

[2017-07-07 05:26] rwest202 opened #12 "Broken icons and console warnings"
Hi,

Noticed some broken icons on this page. Image below.
https://syntax.fm/show/001/react-tools

![screenshot-syntax fm-2017-07-07-13-18-37](https://user-images.githubusercontent.com/7718824/27944095-fa94bcaa-62a9-11e7-9913-056fca881200.png)

Also some console errors

`/Mixed Content: The page at 'https://syntax.fm/?__s=mvrzvydym18bsfdsyedw' was loaded over HTTPS, but requested an insecure favico

[2017-07-07 05:34] atgg commented on #12
Hi there, seems like your browser does not support emojis. The site uses emojis as icons instead of something like Font Awesome.

[2017-07-08 08:26] ink8bit commented on #12
@atgg You are right about icons but the issue (mentioned above) is about `http` in the favicon path.

@wesbos @stolinski Please, check `IndexPage` component and its `prop` - `baseURL`. It contains `http`.
I assume the line `app.js:8 Setting current playing` exists because of forgotten `console.log` statement.

[2017-07-08 11:01] atgg commented on #12
@ink8bit From what I read from the title, the issue is both about the "broken" icons and the favicon.

The protocol is not hardcoded into the `baseURL` prop. Instead, it extracts the protcol from the request header. ([Code](https://github.com/wesbos/Syntax/blob/42a5a3313240b49fa34950194dab5d1bf9bc66c5/pages/index.js#L23))

Also, I have removed the redundant `console.log` from `<IndexPage />` as a

[2017-07-08 15:52] ink8bit commented on #12
@atgg Oh, thanks. Now I see. Btw, you've done a huge work with this `PR`!

[2017-07-13 14:07] queuebit opened #15 "Clicking on Permalink in Overcast takes me to mp3 instead of show notes page"
<https://overcast.fm/+JaI5l2tzo>

Click on `Permalink` and I go to audio, and I want to go to show notes and get them links, yo.

[2017-07-20 19:43] wesbos commented on #15
Hmm - not sure how to solve this. Ill have to look into how libsyn works

[2017-07-27 20:46] jwithington opened #16 "Overcast doesn't include show notes."
See screenshot here.

Thanks! This show is rad!

![Overcast screenshot](https://user-images.githubusercontent.com/4213550/28691449-d40826fc-72d1-11e7-879a-1739992e6079.PNG)

[2017-07-28 06:35] ink8bit commented on #16
The same issue in iTunes too.

[2017-07-28 14:28] stolinski commented on #16
This one might have been my fault. I published in LIbsyn before the notes were complete. I've added them now and am republishing.

[2017-07-28 15:31] ink8bit commented on #16
@stolinski Thank you! Podcast description in iTunes is ok now!

[2017-07-28 17:10] jwithington commented on #16
Yup, working in Overcast (once i redownloaded the episode)now!

Also: sorry about GIANT SCREENSHOT. Thanks Retina screen! 😆

[2017-08-02 14:58] wesbos commented on #16
thaaanks scott

[2017-08-02 14:58] #16 closed

[2017-08-23 16:45] rclanan opened #19 "[Request] Links in Show Notes to open in new tab"
Can we get the links in the show notes to open in a new tab?
When listening to a show and wanting to view the notes and follow some of the links, it opens in the same window rather than a new tab, so you lose the spot in the show.

[2017-08-23 18:03] wesbos commented on #19
Yeah this is a good idea. If anyone wants to take a stab at this after markdown parses it, that would be cool!

[2017-08-23 18:05] rclanan commented on #19
The markdown package you are using allows you to specify custom render options:

https://github.com/chjj/marked#overriding-renderer-methods
https://github.com/chjj/marked#inline-level-renderer-methods

For anyone that wants to take this. If it doesn't get picked up, I might take a look at it later this evening.

[2017-08-23 18:11] dfosco commented on #19
@JonAbrams The default browser behavior is just that — the _default_ behavior. It can and should be changed when the context requires it.

[2017-08-23 18:18] rclanan commented on #19
I would disagree @JonAbrams , from a user experience perspective, I wouldn't want a user that is listening to the podcast to be following along with the products I am referring to, click a link and lose their spot in the podcast.

As much as that is the default browser experience, the default user experience from what I run into when linking to outbound links is typically in a new tab.

[2017-08-23 18:19] JonAbrams commented on #19
I didn't realize this stops the playing of the podcast, my bad. Opening in a new tab makes sense in this context.

[2017-08-23 18:20] JonAbrams commented on #19
I just assumed everyone listens on their phone, I totally missed your perspective.

[2017-08-23 19:05] deepakkarki commented on #19
#20 Hey can someone review this :)

[2017-08-23 19:20] wesbos commented on #19
Thanks everyone! It's all working and merged now :)

[2017-08-23 19:20] #19 closed

[2017-08-24 00:37] rclanan commented on #19
Wow, that was a quick turn around. Great job!

[2017-08-24 13:09] wesbos commented on #19
🎵 The power of open source 🎵

[2017-10-13 11:52] httpsterio opened #29 "Licensing"
What is the licensing for this repo`?

[2017-10-13 12:04] pantharshit00 commented on #29
MIT I guess

[2017-11-20 13:27] simeydk opened #32 "Shownotes box height < Show list height"
There currently is a max-height value (of 800px) on the shownotes component, but nothing corresponding on the list of shows. This didn't have an impact initially, but as the list of shows have increased to be longer than 800px, this results in a funny layout, where shownotes gets cut off before the end of the episode list.

![image](https://user-images.githubusercontent.com/13088589/33020441-0345a

[2017-11-20 13:35] simeydk commented on #32
Hi Wes & Scot

I noticed this (funny?) behavior on the Syntax website. If this isn't intentional, it could be fixed by either putting the same max-height on the showlist and the shownotes, or removing the max-height on the shownotes.

If this is something you want changed, I'd like to try fixing it. I haven't submitted a PR on github before, and this one looks small enough to be a good one to star

[2017-11-20 14:32] wesbos commented on #32
Hey! I think it's probably best to take the max height off and just let the height be determined by either the shownotes or the list of shows - would be great if you could submit a PR . thanks!

[2017-11-21 14:17] #32 closed

[2018-01-18 13:22] jamesbarrett95 opened #42 "[Feature Request] Add localStorage to track the listen spot of a podcast"
Problem statement
[] Bug Report
[x] Feature Request

Summary:
Once the application is closed and re-opened, Syntax.fm should store the listen spot of a podcast.

Expected results:
The user returns to Syntax.fm with their last played podcast selected and at the time of when they closed the application.

Actual Results:
When the user revisits the application, the most recently uploaded Podcast is se

[2018-02-20 18:52] wesbos commented on #42
Thanks again for implementing this!

[2018-02-20 18:52] #42 closed

[2018-02-26 16:30] benjamingrobertson opened #48 "Fonts don't display in Firefox Developer Edition"
I'm running Firefox Developer Edition 59.0b12 on Mac OSX 10.13.3, and most of the type remains invisible on the page.

I haven't spotted any network errors.

![syntax-fonts](https://user-images.githubusercontent.com/7781583/36682200-7dca2870-1ae8-11e8-805d-5285e2bb1ba1.png)

[2018-02-26 19:09] benjamingrobertson commented on #48
Hm, now that I revisit the page, I get them sometimes and sometimes don't  🤔

[2018-03-19 22:18] kasbah opened #50 "You should link to syntax.fm from your the GitHub page"
Just came here from DuckDuckGo searching "syntax podcast" and syntax.fm wasn't in those results. You should add a link next to the description up top and maybe also in the README.

[2018-04-24 01:39] wesbos opened #55 "Add tweet to sponsor page"
https://twitter.com/soyoag/status/988205788794572800?s=21

[2018-05-04 17:24] area55git opened #57 "Logo Proposal for Syntax"
Hi, I'm a graphic designer and I like to collaborate with open source projects. Would you like me to design a Logo for Syntax?

[2018-05-04 18:25] wesbos commented on #57
Hey! We already have one - do you not like it?

[2018-05-05 16:17] area55git commented on #57
If I like it, I would not change it, I sent you the proposal because I had not seen it. If you need a design for another project you can contact me and I will gladly collaborate.

[2018-05-05 16:17] #57 closed

[2018-05-07 14:04] wesbos commented on #57
thank you :)

[2018-05-31 14:45] wesbos commented on #55
Add Log Rocket Quote too

[2018-05-31 20:08] wesbos opened #67 "Add Netlify Case Study"
folks lovin' it

https://twitter.com/chrislaughlin/status/979853161841094657
https://twitter.com/dandanthedevman/status/972164152134336512
https://twitter.com/OThatSean/status/998668832716836864
https://twitter.com/jonpemby/status/996762541333401608
https://twitter.com/paulchinjr/status/992030185393475584
https://twitter.com/darpots/status/997580654815727617
https://twitter.com/CodingBlocks/status

[2018-06-11 17:08] wesbos opened #71 "add link to Potluck Submission Form"
https://docs.google.com/forms/d/e/1FAIpQLSfQlAo1wXHiJMySdU-h8QMtfoz92aMS9eycEHXB6eRCLh8KHA/viewform

[2018-06-12 13:20] #48 closed

[2018-06-21 14:12] wesbos opened #76 "Add link to Google Podcasts"
Lots of people searching "Syntax fm" on google podcast, but that isn't the name of it. We should link it directly from the website.

A few questions for android folk

1. Is google play for podcasts still a thing?
1. Is there a link to syntax on android?

[2018-06-21 14:13] wesbos opened #77 "Add Spotify Link to our podcast"
Spotify is becoming more popular for listening to our podcast.

Here is the link to ours:

https://open.spotify.com/show/4kYCRYJ3yK5DQbP5tbfZby?si=bOe7-kl6RnOHapMsVnFWgw

We will also need a new icon and have to figure out how to fit the links in with #76

[2018-06-21 14:15] wesbos opened #78 "Add LogRocket Case Study"
Need to follow up with them in a bit to get some conversion numbers... hold on this until then

[2018-06-21 14:16] #12 closed

[2018-06-21 14:18] #50 closed

[2018-06-21 14:19] wesbos commented on #50
thanks :) All fix

[2018-06-21 14:20] wesbos commented on #71
Some sort of button at/near the top of the site?

[2018-06-21 14:20] wesbos commented on #29
Yeah we should add a MIT license

[2018-06-21 14:47] ekaoddlass commented on #77
Hi Wes, I'd like to have a go at this (along with #76) please.
The Spotify & Google Podcast buttons would be alongside existing buttons (something like below) — or do you have any other consideration?
![screen shot 2018-06-21 at 9 46 08 pm](https://user-images.githubusercontent.com/6597211/41726516-8ca48688-759c-11e8-9bd3-4234a5809dcd.png)

[2018-06-21 16:00] francisprovost commented on #76
@wesbos For your questions
1. Google will phase out Google Play Music in favor of youtube music. Podcasts will probably be "Google Podcasts" only. For now it still alive
2. For the links, there's no "Share" button in the app

weirdly "Syntax fm podcast" doesn't work but "Syntax fm google podcast" does for me ¯\_(ツ)_/¯

[2018-06-21 18:59] ckujawa commented on #71
might need some help (I'm on lesson 4 of your React for Begginers) but I'll grab this and work on it

[2018-06-22 00:36] abiclub23 commented on #71
@ckujawa - I picked this up earlier today, but I forgot to leave a comment here. I did a quick mock up below to get some ideas going. I am happy to help you.

@wesbos @ckujawa- Feels like there are already a lot of buttons  in the header, I added it as a link for starters. What do you guys think ?

Desktop
<img width="1033" alt="image" src="https://user-images.githubusercontent.com/6979452/4175193

[2018-06-22 00:45] abiclub23 commented on #71
Version -2   - A ribbon on top left/right, its a more prominent callout

<img width="1164" alt="image" src="https://user-images.githubusercontent.com/6979452/41752166-a7a02996-757a-11e8-8f09-7b56374602e9.png">

[2018-06-22 12:20] ckujawa commented on #71
@abiclub23 lol...I had almost completed it last night before seeing this. I am not at that machine last night so I can't post screen shots of what I've done (I'm at the day job right now so it will be about 6 hours before I can) but I had put a button below the podcast links to the right of the header--but I personally really like the diagonal button above--it jumps right out at you.

I've also go

[2018-06-22 13:23] wesbos commented on #77
I think we should go ahead and do this 100% width since the number of buttons keep growing.

@ekaoddlass  Can you update to master as the spotify button has already been added, and then move this down and add Google Podcasts?

[2018-06-22 13:23] #77 closed

[2018-06-22 13:29] wesbos commented on #71
Thanks everyone! I like the text based "ask us a question" in the last screenshot.

The form is a google form which will submit and go into a spreadsheet - thats how Scott and I keep track of them, so no need to have them email or anything like that.

[2018-06-22 13:36] ekaoddlass commented on #77
Sure @wesbos , I'll make a new fork (with the newly added Spotify button) and implement this.

[2018-06-22 13:38] ekaoddlass commented on #76
Got it, going to work on it in a bit.

[2018-06-22 17:32] abiclub23 commented on #71
@wesbos @ckujawa - my understanding is we just need to link to the form , we don’t actually need to build the form. Correct me if I am wrong.

If we go with the ‘ask us a question’  in mWeb it will wrap under the title text is that fine ?

[2018-06-25 21:51] millerdrew opened #83 "Link is dead"
Hi there!  Just a heads up that the image file linked to Scott's avatar seems to be dead:

<img width="737" alt="screen shot 2018-06-25 at 2 48 57 pm" src="https://user-images.githubusercontent.com/4089198/41877692-13c1c332-7887-11e8-847b-4961ba23e355.png">

[https://pbs.twimg.com/profile_images/895046840361525248/_ulRKC5e_400x400.jpg](https://pbs.twimg.com/profile_images/895046840361525248/_ulRKC

[2018-06-26 20:36] #76 closed

[2018-06-26 21:35] #83 closed

[2018-06-27 07:13] abiclub23 commented on #71
@wesbos - Raised a PR https://github.com/wesbos/Syntax/pull/86.

[2018-06-28 13:56] #71 closed

[2018-07-02 13:49] reecer62 opened #89 "Pressing the play button on a different episode does not update its show-active gradient"
I think a fix for this would be to find the respective parent of the play button (with regards to the episode) and update the gradient to appear in that episode's sidebar (show--playing and show--active).

![syntaxfm](https://user-images.githubusercontent.com/17727106/42167623-95dda124-7ddc-11e8-8196-162c792c4936.gif)

[2018-07-02 18:36] #89 closed

[2018-07-06 10:53] dzsi1994 opened #92 "Add favicon to sponsors page."
Currently the favicon is missing if a user navigates to the sponsors page.
https://syntax.fm/sponsor

[2018-07-06 11:31] jaredcaraway commented on #92
[Current meta component](https://github.com/wesbos/Syntax/blob/master/components/meta.js) appears to be designed specifically for the "shows" page - it reads the currently playing episode and plugs that info into the various meta tag attributes:

[code]
I wonder if this code could be easily adapted to detect if it's being loaded into the sponsor page or if it warrants its own meta component (or if

[2018-07-06 13:23] jaredcaraway opened #94 "Broken image link on sponsors page"
This is located right before Audience Interests section.

# Code

```<figure style="float:right;margin-left:20px"><img src="https://instagram.fybz1-1.fna.fbcdn.net/t51.2885-15/e35/22157944_396029214150820_7452835776976388096_n.jpg" width="400" alt="iPhone showing a Syntax Episode"/><figcaption>Photo by <a href="https://www.instagram.com/dhanishgajjar/">Dhanish Gajjar</a></figcaption></figure>```

[2018-07-06 20:24] sesneaky opened #95 "Wes' photo doesn't display on Firefox with tracking protection enabled"
Firefox version 61.0.1
Tracking protection turned on via Preferences > Privacy & Security

Console output:
[code]

Visual:
![image](https://user-images.githubusercontent.com/7118950/42398726-3cdf79ca-816b-11e8-915b-c5058ae1d0b8.png)

I'm guessing tracking protection doesn't like the domain?

Cheers,

Sé

[2018-07-07 16:30] brooksbecton commented on #92
I took a crack at this here: https://github.com/wesbos/Syntax/compare/master...brooksbecton:bug/sponsorMetaInfo

I had to be a little hacky because the conditional wanted one parent component, but I wasn't too sure on how to wrap meta tags.

Also, this assumes the the page title matches path of the page component (which I think is ok because NextJS, but this is my first time messing with it), but

[2018-07-07 21:07] jaredcaraway commented on #95
@sesneaky That's correct - [check out this issue](https://github.com/mozilla/blok/issues/187).

I don't know if this would be overkill, but possible solution may be create a cron job that pulls the most recent avatars via Twitter's API to Syntax's assets so the images aren't served from a blocked domain. (I'm sure there's a simpler solution that I am looking right past.)

[2018-07-09 11:45] wesbos commented on #95
how about we just save the images in the repo so we don't ping twitter? It's bit us in the past when one of us changes our avatar

[2018-07-10 16:24] jaredcaraway commented on #95
@wesbos That's definitely the simpler route! I wasn't sure if you guys were trying to automatically sync your avatars.

[2018-07-16 16:55] #95 closed

[2018-07-17 18:28] cfsanderson opened #108 "Wes's avatar is squished"
Wes's avatar is squished when when visiting the site from a link to an episode.
It's seems to be happening on latest Chrome and Firefox, haven't checked others.
I'm on MacBook Pro with 10.13.5

![image](https://user-images.githubusercontent.com/20695956/42837855-3cbe15d6-89cd-11e8-9ec0-11b098aaa85d.png)

[2018-07-17 19:12] #108 closed

[2018-07-17 19:13] wesbos commented on #108
fixed :D

[2018-08-08 00:50] Putnam14 opened #120 "Add a search box"
Since there are now enough episodes of Syntax for topics to get buried and become difficult to search for manually, I think Syntax deserves a search bar.

**Background**
I wanted to find out which domain registrar Wes and Scott recommend. I figured there would be a search bar on their website. There was not.

**Recommendation**
Add a search bar to the upper right corner, or in the navbar. I would

[2018-08-08 14:13] wesbos commented on #120
planning on this!

For the time being, you can search all the show notes in google with something like `domain name site:syntax.fm`

[2018-08-15 16:35] wesbos opened #128 "Add a focus to the volume UI"

[2018-08-15 16:36] wesbos commented on #128
If you tab over to the volume UI, you can use arrow keys, but there is no visual cue that you are currently on the volume

[2018-08-27 07:26] simeydk opened #138 "Scroll to top after clicking on an episode"
This is a nice-to-have proposed improvement.

Now that the list of episodes is getting longer, the experience when clicking on an older episode is not great. Most users would do this with the intent of reading the shownotes for that episode, presumably from the start. However, when clicking on an older episode far down the list, the scroll position remains far down and the user has to scroll all t

[2018-08-27 07:43] simeydk commented on #138
I would be keen to have a stab at implementing something for this, if you're keen to make a change here. If so, which solution would you prefer?

(Naturally, you are also most welcome to close this issue if you're not phased by this)

[2018-08-30 14:35] tkilgour commented on #120
@wesbos Do you have specific plans for this? Do you mind if I give it a crack?

[2018-08-30 14:37] wesbos commented on #120
Were taking to algolia right now - I’m on vacation so I’m not
sure of the status but if you want to give t a crack - go ahead!

On August 30, 2018 at 10:36 AM, Thomas Kilgour
(notifications@github.com) wrote:

@wesbos ( https://github.com/wesbos ) Do you have specific plans
for this? Do you mind if I give it a crack?
—
You are receiving this because you were mentioned.
Reply to this email directly

[2018-08-31 17:50] drubiodev commented on #138
@simeydk yeah wouldn't be a bad improvement, I was thinking maybe having a fixed height for the list of episodes and info. This way when you click on a episode the info list would scroll independent from the episode list.

[2018-08-31 22:03] tkilgour commented on #120
Hey @wesbos!

I built a somewhat functional version of a search bar. Wanted to check to see if you would be interested in integrating it before finishing it off, since it's fairly opinionated.

### Features

- filters the existing sidebar instead of a standalone search component (ie. an autocompleting dropdown)
- searches both show titles and show notes
- highlights the query text in show notes

#

[2018-09-09 21:16] barrymcgee opened #145 "The /sponsor page has an image 403'in as it hotlinks from Instagram"
<img width="989" alt="screen shot 2018-09-09 at 22 15 55" src="https://user-images.githubusercontent.com/505570/45269004-f76fa180-b47d-11e8-8eb9-571ddaf87885.png">

[2018-09-10 13:30] #145 closed

[2018-10-02 13:14] wesbos commented on #138
would be great :)

[2018-10-02 13:15] #128 closed

[2018-10-02 13:29] wesbos opened #156 "Convert to Next 7"

[2018-10-02 13:29] wesbos opened #157 "convert to Styled Components"

[2018-10-02 13:30] wesbos opened #158 "Fix layout on mobile"
Right now there are too many shows to scroll through to get to the show notes. We somehow need to fix this layout on mobile so its easier to navigate. Open to suggestions :)

[2018-10-02 13:31] d-ivashchuk commented on #157
Hey, @wesbos what exactly do you need to convert?

[2018-10-02 13:31] wesbos opened #159 "Make audio progress scrubber keyboard accessible"

[2018-10-02 13:31] wesbos opened #160 "Add an accessible skip to content link"

[2018-10-02 13:32] wesbos commented on #157
All the current CSS is in stylus - so it could be converted all at once or just component by component. I think its currently in BEM so it should be pretty easy

[2018-10-02 13:33] wesbos commented on #120
@tkilgour looks great - is this online anywhere?

[2018-10-02 13:34] d-ivashchuk commented on #157
I will work on that

[2018-10-02 13:40] roebuk commented on #160
Hey!

I'll happily take this. @wesbos which container do you you think is best to jump to? The `.show-wrap` div seems reasonably sensible.

[2018-10-02 13:43] Martin-Pitt commented on #158
Shouldn't the order be switched?

The current show you are playing right now is primary vs. other shows being secondary.

[2018-10-02 13:46] ClayBenson94 commented on #138
If nobody else is looking at this, I'd love to give this a shot :)

[2018-10-02 13:53] jzabala commented on #156
I @wesbos I can try this one :D

I'll keep you posted if anything comes up.

[2018-10-02 13:56] wuz commented on #158
I can take this issue. How do you feel about collapsing the rest of the shows behind an accordion?

[2018-10-02 14:00] simeydk commented on #138
I offered to give it a stab before, but am not getting round to it, so happy to "give it up" (if I ever had it). The maintainers seem keen so I would think it's fine.

[2018-10-02 14:11] stufinn commented on #159
I'd love to take a shot at this one. Just to clarify, scrubbing refers to the audio speed/fastness as opposed to the progress bar, right?

[2018-10-02 14:12] simeydk commented on #156
@wesbos you've mentioned considering moving the website to Netlify on the Podcast before (with Gatsby? or Next's Static Site Generator?). Is this a serious consideration, or is staying on Next+Now preferred?(perhaps from an if-its-not-broken-don't-fix-it point of view?)

[2018-10-02 14:19] tusharkhatiwada commented on #159
I would love to try this.
Do you mean by using **Left** and **Right** key to **Forward** and **Rewind** respectively? If yes, by how much second?

[2018-10-02 14:32] simeydk commented on #156
@jzabala  I'm not trying to intercept your offer to work on this.

I'm actually fishing for some commentary from @wesbos (in this issue thread, or on the Podcast?) on what's the best fit here. Netlify is a friend of a show and is clearly awesome. However, the power of a Node app is still valuable. (I've also submitted a potluck question on this)

[2018-10-02 14:40] jzabala commented on #156
yeah, don't worry @simeydk. I get it. I think your comment is very valuable and if they are planning to move to Gatsby, it will be a waste of time moving the site to Next.js 7. I think we probably should wait for @wesbos answer on this. What do you think?

[2018-10-02 14:54] simeydk commented on #138
I just saw @legarland submitted a PR for this, #113 (a month before I opened the issue!)

[2018-10-02 15:42] wesbos commented on #158
I think putting the show list first to show 3-5 show and overflow:scroll; on that would be good

Then the show notes below it

[2018-10-02 15:43] wesbos commented on #156
Yeah we currently use the node backend as an API to pull show notes from - it could be done as a static site but I think having a node backend will at some point be useful to us as well.

so lets keep it on Next :D

[2018-10-02 15:47] tusharkhatiwada commented on #159
Created a pull request. But I'll update it with your requirements.

[2018-10-02 18:08] khendrikse commented on #94
It looks like this issue is already resolved?

![image](https://user-images.githubusercontent.com/30577427/46367797-df570080-c67e-11e8-8e39-f5039e7e9c02.png)

[2018-10-02 20:06] mikaoelitiana commented on #55
I will work on this one

[2018-10-02 20:15] mikaoelitiana commented on #55
I use https://publish.twitter.com/#? Any other suggestion ?

[2018-10-02 21:04] #55 closed

[2018-10-03 01:02] tusharkhatiwada commented on #159
#161

[2018-10-04 12:03] jzabala commented on #156
Created a PR for this issue (#167).

[2018-10-04 16:52] tkilgour commented on #120
@wesbos Fixed the issues I was having before and submitted a PR.

### A few things to note:
- It's still searching the raw HTML but filters out all HTML tags from searchable text. I thought about trying to search the MD files and then cross reference, but never implemented that. It might be a better way to go.
- It doesn't match encoded characters.
- There's a bit of noticeable lag – I tried to op

[2018-10-07 17:17] JohanG2012 commented on #138
I just noticed this as well, would be great!

[2018-10-08 20:23] jameygleason commented on #138
This what you where thinking?

![2e7d6b84cd90d42bf0e4c74ea3dc395b](https://user-images.githubusercontent.com/30030613/46631793-76580880-cb16-11e8-9c01-fb19df6c4c33.gif)

[2018-10-08 22:25] 416serg opened #178 "Adding meta description to meta.js"
Even though there is `og:description`, we still need a `description` meta tag. Referencing the lighthouse audit bellow.

<img width="627" alt="screen shot 2018-10-08 at 6 17 39 pm" src="https://user-images.githubusercontent.com/3760543/46636773-6bf23a80-cb27-11e8-9601-933914201df4.png">

Fixed in [#177](https://github.com/wesbos/Syntax/pull/177)

[2018-10-08 22:28] 416serg commented on #138
@jameygleason would you be able to scroll it to the top of `<main />`. That's where the player starts and I think that would be a better experience for users.

[2018-10-08 22:33] legarland commented on #138
Check out my PR #113 to see if the experience fits this issue. I noticed this a while back and decided to add the smooth scrool functionality.

[2018-10-08 22:37] jameygleason commented on #138
Yeah totally. Give me an hour or so.

[2018-10-08 23:06] jameygleason commented on #138
@legarland looks good. I'm interested in knowing more about the polyfill.

[2018-10-08 23:19] jameygleason commented on #138
Would someone be interested in looking at the polyfill and make sure I did that right?

![a902160c829ea1a9f4a3b67e5d0182c3](https://user-images.githubusercontent.com/30030613/46638466-030ec080-cb2f-11e8-95ab-33bf70a0ddde.gif)

[2018-10-09 02:31] jameygleason commented on #157
I have everything converted in this fork branch. I still need to set up the server rendering of the styles.

https://github.com/jameygleason/Syntax/tree/styled-components

[2018-10-09 13:00] 416serg commented on #178
@jumplottahigh I am not sure if you read the full issue, but I resolved it myself in #177 😅

[2018-10-09 13:00] #178 closed

[2018-10-09 16:18] jameygleason commented on #138
Alright, I think I got it. Share your thoughts.

#184

![cfac0ff45c8c9d08c640869050a6d896](https://user-images.githubusercontent.com/30030613/46682914-d1443b00-cbbc-11e8-9847-493618380357.gif)

[2018-10-09 17:02] jameygleason commented on #157
PR #185
Converted Stylus to Styled Components and added a `_document.js` component with `ServerStyleSheet` for server rendering. Next step will be moving the global injection to the actual components.

[2018-10-09 18:13] jumpalottahigh commented on #178
@416serg My bad didn't notice there was an open PR for this already.

[2018-10-09 18:15] 416serg commented on #178
@jumpalottahigh all good! just don’t want Wes or Scott or whoever is going through the PRs to see dups or people to do twice the work, no matter how small that amount of work is 😅👍🏼

[2018-10-09 18:17] jumpalottahigh commented on #178
@416serg Makes sense. Not easy, the life of open source maintainers :)

[2018-10-09 18:20] 416serg commented on #178
speaking of which, @wesbos or @stolinski, let me know if you guys need a hand going through some of the PRs, with Hacktoberfest too, I can imagine there being a lot of attention on your amazing open source work 😊

[2018-10-10 10:53] jameygleason commented on #157
@wesbos what's happening with the 💪?

[code]

[2018-10-12 01:53] EricLemieux opened #193 "Both yarn.lock and package-lock.json exist"
Both `yarn.lock` and `package-lock.json` exist in the project root, only one needs to exist.

README recommends using `npm` and the `package-lock.json` has a longer git history. The yarn.lock file should be removed.

[2018-10-12 03:36] bchiang7 commented on #157
@d-ivashchuk https://github.com/d-ivashchuk/Syntax/pull/2

[2018-10-12 22:38] jackmcpickle opened #197 "Add Renovate support for auto deps update. and tests?"
I've added https://renovatebot.com/ to all my open source projects helps keep things upto date.

Might be a good idea here too for a site that you want to keep the build deps updated. They support both types of lock files too.

But probably good to add some tests...?
Happy to help with that. But probably want some help deciding on a testing framework? Jest?

[2018-10-12 22:40] jackmcpickle commented on #193
![screen shot 2018-10-13 at 9 07 30 am](https://user-images.githubusercontent.com/89775/46896988-9ba69700-cec7-11e8-84e5-69aa9ab953d2.png)

I'm a yarnpkg fan but consistency is better. Having 2 lock files makes it hard to keep both in line...

[2018-10-13 05:49] chadfawcett commented on #160
This should be closed as it's resolved by #163

[2018-10-13 13:34] thewheat commented on #15
I believe you'd need to change the `link` value in [your RSS](https://feed.syntax.fm/rss)
![image](https://user-images.githubusercontent.com/892961/46905975-2621e180-cf2e-11e8-9948-2a46785ffceb.png)

Basing that off https://overcast.fm/+Ip012dEg where the Permalink link goes to `https://twit.tv/shows/this-week-in-law/episodes/438`. Looking at the  [TWIL RSS](http://feeds.twit.tv/twil.xml) you can

[2018-10-14 15:12] papascott commented on #92
This being Hacktober I decided to take a look at this. I pretty much used @brooksbecton's changes, except I used a fragment to wrap the meta tags and calculated the baseURL prop on the sponsor page rather than hard coding the value. Passing the page title as show.title is a little wonky, but probably OK as long as there's only one page other than index.

[2018-10-14 17:46] queuebit commented on #15
Episode 44 <https://feed.syntax.fm/rss> link should be:

[code]

instead of
[code]

[2018-10-17 21:05] simeydk opened #205 "Add Now-Github integration to Syntax Repo"
Zeit added Github integration to Now in June 2018.

[https://zeit.co/blog/now-for-github](https://zeit.co/blog/now-for-github)

This automatically creates a new deploy of the site with every PR, which can be very handy to review PRs quickly.

[2018-10-22 22:21] #193 closed

[2018-10-23 00:30] 416serg commented on #197
@jackmcpickle let us know if you're up to implement some tests! Both @wesbos and @stolinski have courses on testing in React so it could be a good tool to get this done for Syntax!

[Wes's course](https://advancedreact.com/)
[Scott's course](https://www.youtube.com/watch?v=esVwR4lGwQE&list=PLLnpHn493BHEqP3gD1pCJYhxX6v2gBZzj) - and I believe advanced react testing is coming soon

[2018-10-23 00:31] #160 closed

[2018-10-23 00:31] #159 closed

[2018-10-23 00:34] #158 closed

[2018-10-23 00:35] 416serg commented on #156
@jzabala commented in the PR, time flies and so do NextJS updates, it's at `7.0.2` now 😅

[2018-10-23 00:35] #156 closed

[2018-10-23 00:37] #92 closed

[2018-10-23 01:40] 416serg commented on #205
Looks like I don't have permissions to install apps on the repo! @wesbos this might be a good thing to look into and seems pretty easy to implement!

[2018-10-23 22:00] Pixelrobin opened #215 "Hide horizontal scrollbar when not in use"
I'm using Chrome on Windows 10. When making the screen smaller, it shows a disabled horizontal scrollbar.

![image](https://user-images.githubusercontent.com/17094139/47393276-e39d9900-d6d3-11e8-91fd-55686136acca.png)

I personally think it doesn't look all that great so I suggest instead of setting `overflow-x: scroll` to `overflow-x: auto` so the scrollbar only appears if it needs to.

I would l

[2018-10-24 18:19] papascott opened #218 "Add staticPage object prop to meta.js"
As @416serg suggest in #207 we can add a prop to the `Meta`component so it can work for the dynamic show pages and any static pages that might be added in the future

[2018-10-24 20:16] 416serg commented on #215
@Pixelrobin Hey Michael 👋🏼 Good catch! I think that the author of that commit meant to put `overflow-y: scroll` as opposed to `overflow-x` since the X-axis never actually scrolls there.

If you want, submit a PR that fixes this issue and grab that Hacktoberfest point! 😃

[2018-10-24 20:18] Pixelrobin commented on #215
Alright, I'll take it! I think auto would be better because on super tiny sizes (that are honestly kind of unrealistic), it does actually need to scroll a bit.

[2018-10-27 13:32] papascott commented on #218
I'd like to edit the propTypes so that either `show` or `staticPage`must exist, but I'm not sure how to do that. 😄

[2018-10-27 23:42] #218 closed

[2018-11-03 14:54] bartveneman opened #229 "Double @media query in header"
I found a double `max-width: 670px` in https://github.com/wesbos/Syntax/blob/5bbfc5ef778639af800a3e8ea174cecb13a3c33a/styles/_header.styl#L68-L77 while running Syntax.fm through Project Wallace: https://www.projectwallace.com/teamwallace/syntaxfm/imports/20181103144312413. I guess this extra MQ could be removed, as well as the resets above this nested MQ.

[2018-11-06 20:35] simeydk commented on #215
I think this issue can be closed as the fix has been merged in #220.

[2018-11-06 20:37] Pixelrobin commented on #215
Oh yeah, sorry about that.

[2018-11-06 20:37] #215 closed

[2018-11-08 13:57] markpesantes commented on #229
If this is deemed as an issue I'd love to practice a PR and delete lines 75-77 =)

[2018-11-12 14:47] wesbos opened #234 "Persist playbackRate and volume property"
Right now if I close the window and come back, the place is restored from localStorage, but the playbackRate and volume aren't. We should put these in localStorage when changed and then restore them when we mount the player

[2018-11-12 22:06] ianizaguirre commented on #234
I will work on this

[2018-11-15 00:21] ianizaguirre commented on #234
@wesbos , Submitted [pull request](https://github.com/wesbos/Syntax/pull/237) 😄

[2018-11-20 14:12] wesbos opened #240 "Push Notifications for new shows"
This is gonna get into service workers. It seems a large percentage of our listens come from Chrome web users. It would be neat to have an opt-in subscribe button (not an annoy on-load ask) that would push a notification each time a new episode is published.

[2018-11-22 20:07] tvthatsme opened #241 "Scott's Siiiiick Pick from Episode 094 is dead :("
https://www.youtube.com/user/jelleknikkers says that the channel doesn't exist

Was so excited to watch this but now I'm heart-broken :sob:

[2018-11-22 21:12] wesbos commented on #241
oh wow looks like the channel is down! I wonder what drama in the marble community is going down right now. gonna close this since its in the hands of big marble right now

[2018-11-22 21:12] #241 closed

[2018-11-24 06:32] s-r-aman commented on #157
Hey! Can I also contribute to this? I know styled components pretty well. But I am new to contributing. Please help me what I need to do? @d-ivashchuk @416serg @wesbos.

[2018-11-24 07:01] s-r-aman commented on #240
Hey @wesbos! Can you tell how you publish your podcast. We need trigger of some kind where we can know that a new podcast is published.

[2018-11-26 19:34] wesbos commented on #160
Would that provide any real benefit? Is there any downside to re-painting that is real?

[2018-11-26 19:38] garyb1 commented on #160
Yeah I suppose it's not really worth considering in this case .. I just said I would mention it that is all

[2018-11-26 19:39] wesbos commented on #160
Definitely - you can send a PR if you'd like though - it's an interesting little bit of info :)

[2018-11-26 20:00] garyb1 commented on #160
Will do. Thanks wes

[2018-11-27 17:51] wesbos commented on #240
The show is published via libsyn and via this application. It doesnt go live on the site until the Date.now() > show.publishDate

So we could pretty easily code a check or cron job to fire something when a new episode is live.

The challenge is that we would need to maintain a database of push ids from people who have subscribed:

https://twitter.com/wesbos/status/1067473482525622272

[2018-11-28 10:52] s-r-aman commented on #240
So are up to database thing?

[2019-01-07 18:49] wesbos opened #273 "Direct people to a raw version of the syntax logo when they right click logo"
the logo is transparent, which looks good on the website, but we often have people save it and then put it on a light background. It looks like garbage when they do this.

So, when someone right clicks the logo, can we direct them to a version of the logo with a solid background? A copy can be found here: https://ssl-static.libsyn.com/p/assets/7/9/0/7/790703531a3c8eca/iTunes_Artwork.png

[2019-01-11 08:02] KumarAbhirup commented on #273
PR #276 solves the issue. 🙂

[2019-01-16 17:58] Nytheneals commented on #157
I would like to contribute to this too @d-ivashchuk @416serg @wesbos. , how can i help

[2019-02-08 05:44] hozefaj opened #291 "having pagination instead of long scroll"
As the number of episodes increases, the page will get longer and longer. This will cause a very long scroll each way.

It would make sense to having pagination, showing maybe like 15 episodes per page.

[2019-04-09 21:14] bripmccann opened #318 "Heading levels"
1. In the show notes, **the episode title and section headings are all `<h2>`s.** I checked out the site recently _looking_ for the show notes and scrolled right past. I guess I was looking for a visually distinct heading to mark the title. (And I'm sure there are accessibility issues you know about better than me.)
2. **There's no `<h1>` on the page.** An `<h1>` was added around the logo in #126

[2019-05-08 02:53] ycchi opened #335 "Broken Links"
Hi Wes & Scott,

Thanks for the great podcast.
I'm a web dev student and really enjoy your show.

I found a couple of broken links on ep. 140.
It seems like both of them are missing 'https://' in the url.
Please refer to the screenshot below.

![Screen Shot 2019-05-07 at 10 46 10 PM](https://user-images.githubusercontent.com/44580684/57345802-427baa80-711a-11e9-8ef3-efd5cb7a237f.png)

once again,

[2019-05-10 17:19] luisbaugusto commented on #229
#341 fixes the stylesheet and removes the redundant CSS

[2019-06-10 20:19] bripmccann commented on #335
This has been a consistent issue, so you all would probably wanna know about this: @wesbos, @stolinski (@avclark?)

There are a few pending PRs fixing individual episodes.

[2019-06-10 20:31] avclark commented on #335
@wesbos this is fixed on our end. i just submitted a PR with some fixes.

[2019-06-12 16:19] bripmccann commented on #335
If you wanna accept the fixes that were already submitted:

Episode 140: #331
Episode 142: #339
Episode 146: #349
Episode 150: #354 (duplicates: #355, #356, #357)

#360 takes care of episodes 148 & 152. (144 apparently didn't have a problem)

[2019-06-18 00:11] MattSidor commented on #234
The playbackRate is being correctly stored in localStorage, but for some reason the video player still plays at 1x speed when you close the window and come back, play a different video in the playlist, or reload the page.

[2019-06-24 13:08] ianizaguirre commented on #234
@MattSidor

Hi Matt,

I am not seeing this behavior on my end, I am seeing everything being correctly restored when I exit the browser or reload the page - For me, the page speed, and volume bars are restored too my last saved settings.

For reference, I tried the steps you listed using Google Chrome, on my Macbook Pro.

* Can you test this again?

Also, What browser (and browser version), are you

[2019-06-25 20:02] MattSidor commented on #234
Thanks for the feedback @ianizaguirre and trying to help me figure this out!

I realized that I am running a Chrome extension called Video Speed Controller (https://github.com/igrigorik/videospeed) that was overriding the playbackRate setting. Disabling the extension has fixed it for me.

Sorry for the false alarm!

[2019-06-26 16:07] jeffgreendesign opened #364 "Unexpected search engine linking"
Seeing some unexpected behavior when searching for an episode's page on DuckDuckGo and Google.

## DuckDuckGo

When I looked up the show "SVGs with Sara Soueidan" on DuckDuckGo, I get the correct show content in the search result but the link is to just https://syntax.fm/. To me, expected link would be https://syntax.fm/show/154/svgs-with-sara-soueidan.

![Screen Shot 2019-06-26 at 11 56 25 AM](ht

[2019-07-23 21:09] simeydk opened #375 "Add youtube-style timestamp queries"
I propose adding a feature to accept an optional query string on show links that starts playback at a specific timestamp, similar to Youtube. E.g. you would be able to go click on `syntax.fm/show/121/hasty-treat-tips-to-succeed-on-youtube?t=23m17s` (note the `?t=23m17s`) and be taken to the show's page (as before), but also have playback start at 23 minutes 17 seconds.

This would enable
* being a

[2019-08-30 13:12] ckujawa commented on #291
Hey guys...I'm taking a look at this. I think the pagination is a great idea (if you think otherwise, let me know...and let me know how else I might be able to help)

[2019-08-30 14:12] ckujawa commented on #291
hey @wesbos...I'm thinking of doing this and allowing people to set their preffered "page size", but want to keep the state of ShowList within ShowList itself instead of pulling it all the way back out to Index...so something like this:

[code]

Your thoughts?

[2019-09-24 14:39] ckujawa commented on #157
Hi! Just curious...any progress on this? I ask because I'm working on the pagination issue and want to use styled components...but noticed that it's not yet been installed.

[2019-09-26 14:52] ckujawa commented on #291
Submitted PR #399 as a solution to this. Can't seem to attach it to this issue though.

[2019-10-04 01:04] csellis commented on #138
No longer an issue.

[2019-10-04 01:08] csellis opened #407 "code blocks aren't visually distinctive"
![Screenshot from 2019-10-03 21-06-29](https://user-images.githubusercontent.com/814405/66174167-b5ce0d80-e621-11e9-8671-87866afa21f7.png)

Usually, they have a darker background that stands out from surrounding text. In this case they're bolder and larger than surrounding text.

[2019-10-04 02:05] phernandoe commented on #407
I can take a stab at it. I'll try adding some contrast to the code blocks and see how it looks across different pages.

[2019-10-05 06:00] aalaap commented on #120
+1 It would be great if there was a way to search through the list of potluck questions before deciding to ask a new one!

[2019-10-11 06:22] mendaomn commented on #197
Would love to help out with testing! What components or use cases would make the most sense to start with?

As per the tech, I'd use Jest and [Testing-library](https://testing-library.com) for units and maybe integration. Also, [Cypress](https://cypress.io) is a good option for integration and end-to-end!

[2019-10-23 03:37] 416serg commented on #364
Following up on this issue

Google:

<img width="820" alt="Screen Shot 2019-10-22 at 11 35 00 PM" src="https://user-images.githubusercontent.com/3760543/67355218-b8d36400-f524-11e9-8de6-9ba9f5694071.png">

DuckDuckGo:

<img width="804" alt="Screen Shot 2019-10-22 at 11 35 24 PM" src="https://user-images.githubusercontent.com/3760543/67355228-bd981800-f524-11e9-94c0-0e76eb0d0754.png">

I made some

[2019-10-23 03:38] #335 closed

[2019-10-23 03:39] #364 closed

[2019-10-23 03:43] 416serg commented on #318
@bripmccann feel free to submit a PR to make the show notes title an `h1` - pages definitely need an h1 for accessibility and defining the page structure and content hierarchy, not sure what to do about visually making the Show Notes more distinct

[2019-10-23 03:59] sealedHuman commented on #318
@416serg would this amount to changing the Show Notes from "##" to "#" in each show's markdown file?

[2019-10-24 00:38] 416serg commented on #318
Nope, should be simple, just editing the https://github.com/wesbos/Syntax/blob/master/components/ShowNotes.js file and changing the `h2` for `show.title`

[2019-10-24 00:39] #234 closed

[2019-10-24 00:40] #229 closed

[2019-10-24 04:48] sealedHuman commented on #318
That works for the show's title, but I thought the idea was to change it for the "Show Notes" header, too. Looks like that is pulled into ShowNotes.js in the `dangerouslySetInnerHTML` at [https://github.com/wesbos/Syntax/blob/master/components/ShowNotes.js#L32](https://github.com/wesbos/Syntax/blob/master/components/ShowNotes.js#L32)

[2019-10-25 14:36] simeydk commented on #375
Hi @416serg I am working on this gradually, but it's actually quite chunky.

Part of the trickiness relates to decide precedence between a start time from the URL and/or clicking on a timestamp link vs using the last played time from localstorage. To make this easier I proposed a refactor to the localstorage code in #415.

This makes it easier to introduce more logic that plays nice with the local

[2019-11-19 23:48] luisaugusto commented on #407
If no one is assigned or working on this, I could get this fixed in the next couple of days.

[2019-11-24 15:22] simeydk opened #433 "Clean up Player component"
The current version of the Player component is massive: 280 lines with 10 items of state and 13 custom methods.

This could be improved in the following potential ways:

- [ ] move the Progressbar and its associated state (tooltip value and tooltip location) into a separate component
- [ ] Change the Volumebars to a stateless functional component and remove its reliance on localstorage
- [ ] Reorg

[2019-11-24 15:31] simeydk commented on #433
PR #414 attempts to address the second item. it greatly reduces the number of lines in the Volumebars component and removes its unnecessary  reliance on localstorage.

[2019-11-24 15:34] simeydk commented on #433
PR #415 attempts to address the third item. It creates a simpler interface with localstorage and reduces the number of lines of code in Player.js by 14.

[2019-12-01 18:51] csellis commented on #407
@luisaugusto I already submitted it for a pull at [408](https://github.com/wesbos/Syntax/pull/408). It just needs a review.

[2020-01-07 02:43] waldothedeveloper opened #449 "Add date (month/day/year?) to the episode's sidebar"
### Hey guys happy 2020!
This is a suggestion.
I think it would be a good idea to add the dates of the episodes below the Episode titles (marked in red in the screenshot).
I see that when you click on each episode you can see the date on the upper right (also marked in red in the screenshot) but it takes that one extra click -in my modest opinion- so I think it should be beneficial to have it ther

[2020-01-20 23:06] stolinski opened #456 "Add Link To Reddit Community"
https://www.reddit.com/r/SyntaxFM/

[2020-01-22 19:48] wesbos commented on #449
Yeah this is a good idea. Who wants to implement it?

[2020-01-22 20:22] waldothedeveloper commented on #449
I can do a PR if that's ok :)

[2020-01-23 06:33] waldothedeveloper commented on #449
ok @wesbos and/or @stolinski
Let me know if you guys like it like this or if you want a different color accent, some little extra padding, or anything else, if not I'll submit the PR.
I used the "newgrey" from your _show.styl file.

![image](https://user-images.githubusercontent.com/16472274/72961734-1bd0d300-3d80-11ea-868d-4bbfa73d9506.png)

![image](https://user-images.githubusercontent.com/1647

[2020-01-23 21:43] wesbos commented on #449
looks great! please send a PR

[2020-01-30 06:06] sw-yx commented on #456
👀

[2020-02-05 16:24] #449 closed

[2020-02-06 12:46] shayaulman commented on #449
## Little Improvement
Hey @waldothedeveloper, what do you say to this little change?
1. I changed that the episode number and the date should be on the same line.
2. The date - as it is additional info - has a little bit a lighter shade (`gray2`).
<img width="998" alt="Screen Shot 2020-02-06 at 13 26 55" src="https://user-images.githubusercontent.com/47426218/73933133-791e6580-48e4-11ea-9321-e9912

[2020-02-06 12:53] wesbos commented on #449
I like it! Send a PR?

[2020-02-06 14:17] waldothedeveloper commented on #449
Wow, that looks very cool now!
@shayaulman with two more tweaks we have a startup idea LOL...
Thank you guys

[2020-02-25 22:06] domemvs commented on #456
@stolinski Do you have any idea where to put it and how prominent?

[2020-05-20 19:24] matoval commented on #456
I added a link to the Syntax Reddit community under the syntax logo. I centered it on both desktop and mobile. I created PR #500 for this issue. I wasn't sure where the link should go so I hope you like it under the logo.

[2020-06-16 18:17] binyamin opened #508 "Add twitter meta-tags"
- [validator](https://cards-dev.twitter.com/validator)
- [twitter docs](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image)

[2020-06-24 14:06] varlevi opened #511 "Site Player Won’t Run, Time is 00:0NaN"
On the site, none of the episodes will play, and the time is stuck at 00:0NaN. In addition, none of the episodes will play on Apple Podcasts, although their titles and details still do show up. Ihave not tried other podcast players.

[2020-06-24 14:07] wesbos commented on #511
Hmm let me take a look! Thanks :)

[2020-06-24 14:19] wesbos commented on #511
Bah - Zeit/ Vercel stopped working with Version 1.0. Gotta move it over

[2020-06-24 14:22] varlevi commented on #511
☹️

All those dependencies...

[2020-06-24 21:15] varlevi commented on #511
Hmm... following the recent commit, I’m still unable to play any episode on the site or podcasts app. Of course, I’m assuming that fix was meant to fix this problem, but you may still be working on it. If so, that’s fine. Just wanted to make sure you knew. 😉

[2020-06-26 19:33] wesbos commented on #511
This should be fixed now! Please re-open if it's still an issue :)

[2020-06-26 19:33] #511 closed

[2020-07-01 13:29] hedythedev opened #515 "Wrongly formatted show notes for newest episode "our react wish list" on pocket casts"
As the title says the show notes seems wrongly formatted on pocket casts

![Screenshot_20200701_212641_au com shiftyjelly pocketcasts](https://user-images.githubusercontent.com/50042066/86249420-d02c1c00-bb9e-11ea-8c71-889dfa1fa615.jpg)

[2020-07-01 13:31] wesbos commented on #515
thanks - let me take a look!

[2020-07-01 13:33] wesbos commented on #515
just updated it - should fix it. thanks!

[2020-07-01 13:33] #515 closed

[2020-07-06 05:50] mwehnert opened #517 "Episodes cannot be played"
Hey Wes, hey Scott,

currently your Syntax episodes cannot be played. Looks somehow related to this one #511

From the console:
[code]

Personally running on elementaryOS/Chrome@83.0.4103.116, but I feel like it might have less to do with it.
Google Podcasts App happens to have a similar issue (endless loading of SyntaxFm episodes).

Cheers,
Matthias

[2020-07-11 15:39] reobin commented on #375
I worked on bullet point no. 2 in #518 if that can interest someone

[2020-07-22 08:54] mwehnert commented on #517
Has been fixed some days later without addressing this issue.

[2020-07-22 08:54] #517 closed

[2020-07-27 19:15] cryptofool13 opened #523 "episode #269 not posted properly on Syntax.fm"
The link to the actual recorded show in target.md is a typo. It references the previous show. The other header info is correct however, causing the website to show the title for "Hasty Treat - Target=_blank security issue? What's the deal with noopener and noreferrer?" but playing the audio for the previous episode. By changing the URL for the audio, i fixed this in #522

[2020-08-07 14:31] #523 closed

[2020-08-14 16:06] mskwio opened #528 "Query param issue"
Hey,
I've recently discovered one bug related to query param redirection. When we go to https://syntax.fm/?abc, app crashes (An unexpected error has occurred). It's a rather big problem because some websites (Facebook for example), are adding their own query param when someone clicks a link on their website.

The reason is, in the next.config.js there is a "rewrites" function that for the root URL

[2020-10-01 03:42] hangindev commented on #528
I believe the root cause is that `latest` show number is not handled properly on the client-side. The query param triggers a re-render on the client-side but the app doesn't understand `latest` as a show number. See [these lines](https://github.com/wesbos/Syntax/blob/40a7df3f29c4bf7682c359914cc20ef3b23dc214/pages/show/%5Bnumber%5D/%5Bslug%5D.js#L69-L74).

There is another way to break the app:

1.

[2020-10-01 16:57] emmjayvee opened #542 "Sick Picks returns empty page"
[https://syntax.fm/sickpicks](https://syntax.fm/sickpicks)

This page is empty and shows no sick picks. Boo! :(

[2020-10-01 21:24] karbassi opened #543 "[Idea] Show transcript"
Hey @wesbos and @stolinski — **thoughts on adding a show transcript?**

## Why
Lots of times I'm listening to the show while doing other activities (_housework, walking the dog, exercise, etc_) and when I hear something I want to remember, I either have to stop what I'm doing, jot down the timestamp, or just remember to come back to the show, which requires me to relisten to the whole show.

It wo

[2020-10-01 21:41] karbassi opened #544 "[Idea] Show Chapters"
This is a _nice-to-have_ and **not** a must. Since you already have timestamps in the description, it would be amazing if the audio file contained chapters.

## Tools
- https://overcast.fm/forecast (I thought @wesbos said he used this app)
- https://chaptersapp.com/

## Resources
- https://medium.com/podcast-101/podcast-chapters-explained-bed72832640c

[2020-10-02 19:39] wesbos opened #545 "API isn't working"
When we moved from Now 1 (Node hosting) to Vercel the API broke and I just realized :)

It's because of the readFile() calls in the API route. Apparently they don't work in serverless functions.

I tried this:

[code]

that is `vercel.json` file, but doesn't work on Next.js for some reason.

Will continue digging

[2020-10-02 19:47] wesbos commented on #545
This is the line in question I think is breaking it. It's not reading any markdown files, so the API isn't returning anything.

I tried the solutions here: https://github.com/vercel/next.js/issues/8251

* path.resolve()
* os.tmpdir()

No success yet

[2020-10-02 20:07] wesbos commented on #545
Actually I think the problem lies with the glob() package not finding any files in the serverless function

https://www.npmjs.com/package/glob

[2020-10-02 20:34] wesbos commented on #545
I tried rooting around the serverless folder structure with `fs.readdir`, and I don't see anything where the `shows/*.md` files would be

[2020-10-02 20:37] wesbos commented on #545
@timneutkens Any thoughts on this? TLDR our site relies on reading markdown files, which works great, but the serverless API calls don't seem to read that:

https://github.com/wesbos/Syntax/blob/master/lib/getShows.js#L26-L28

Was introduced when we moved it to Vercel / API routes

[2020-10-02 23:19] #545 closed

[2020-10-05 09:09] #542 closed

[2020-10-29 18:33] wesbos commented on #528
thanks! all fixed

[2020-10-29 18:33] #528 closed

[2020-11-09 21:32] wesbos commented on #543
Thanks! I'm gonna use this thread as an update as to whats going on with the transcripts. We were asked about it on twitter today and we are definitely working on it! Will be a huge benefit to the podcast.

I did spend a few days going down the auto transcribed route. I specifically used Google voice-to-text. It was okay, but not good enough.

So - we're going down human generated transcripts. I u

[2020-11-13 21:26] wesbos opened #564 "Focus the show notes when you click a show"
right now if you tab to an episode, hit enter, and keep tabbing, you need go go through all 300 showsbefore you can get to the notes.

If someone selects a show, we should focus the show notes.

[2020-11-23 11:24] garyb1 opened #568 "Inconsistent Focus Styles in Show Notes"
In the show notes, I noticed different styles being applied to buttons on the same row. One focus style is the blue focus ring and then the other has a thin dotted style.

<img width="606" alt="Screenshot 2020-11-23 at 11 22 32" src="https://user-images.githubusercontent.com/12486130/99956665-4dd70b00-2d7e-11eb-94f5-d994fc94b6b8.png">

Is thin dotted the correct focus style for these buttons?

See

[2020-11-23 11:29] garyb1 commented on #568
The difference is that the first item is a button and the others are anchors. which makes sense in terms of behavious, as a button is performing the action, and the anchor is sending the user away to a different page.

<img width="225" alt="Screenshot 2020-11-23 at 11 28 11" src="https://user-images.githubusercontent.com/12486130/99957137-174dc000-2d7f-11eb-8164-3c4e7aa80ffb.png">

If this is desi

[2020-11-23 12:11] garyb1 commented on #564
Created a Pull Request for this -> #569

[2021-10-29 20:31] polilluminato opened #651 "Add Pagination to the API"
Hi everyone, I think it could be a nice idea to add in the API section an endpoint to retrieve the shows list in paginated format, something like `limit` and `offset` in SQL. I propose this change because it would be very useful in case you want to implement a list with the contents that load on a scroll and an endpoint that returns the paginated results would be very useful.

Based on the current

[2021-11-26 00:00] wesbos opened #660 "Mobile doesn’t change URL when selecting an episode"
Anyone want to take a peek into why? iOS does not change the URL when you click on a show

[2022-01-03 21:17] #660 closed

[2022-01-05 14:27] wesbos opened #670 "Convert stylus to css"
I think the time has come to move away from Stylus. CSS has become much better and I think moving away from it will allow us to drop the babel dependencies.

I think we can just convert the .styl files to .css and run the stylus though some sort of converter.

[2022-01-12 21:45] wesbos opened #672 "Site load is to large"
I *think* all the podcast show notes are being loaded on each page. I think when the site was built this wasn't a big deal, but now each page is a few megs of show notes. So we should change how this works to save on Bandwith and load times

[2022-01-13 19:44] wesbos opened #675 "HEad tags need to be moved to _app.js"
We keep getting this error: `Warning: viewport meta tags should not be used in _document.js's <Head>. https://nextjs.org/docs/messages/no-document-viewport-meta`

gotta move them to _app.js

[2022-02-10 16:21] wesbos opened #691 ""Play Episode" button doesn't work when loaded straight on syntax.fm"
probably because when you click a show, then it's set. When you visit the latest show, it should set it as the current show https://twitter.com/ericlaw/status/1491808963658194945

[2022-02-10 16:37] #691 closed

[2022-03-25 19:23] #205 closed

[2022-03-25 19:24] simeydk commented on #205
Vercel integration is up and running

[2022-06-06 13:48] wesbos opened #741 "Make a /suggest page"
We have a new form that we use to intake guest suggestions, but it keeps getting marked as spam on twitter (and maybe email?). So I rather send syntax.fm/suggest

Make a page that integrates this form, but auto-heights the iframe. There has got to be some sort of postMessage API to find out the height of the form so we can dynamically adjust the height of the iframe

https://forms.gle/b525fKskRVBy

[2022-07-25 18:31] Razunter opened #769 "RSS issues"
1. RSS file is ~6mb. That's too much.
2. All RSS links lead to the frontpage, not to the appropriate episodes.

[2022-09-07 11:04] nileshprajapati opened #790 "Update iTunes subscribe button to Apple Podcast."
Hi everyone,

I noticed on the syntax website is still using subscribe to iTunes instead of Apple Podcasts.

Thanks,
Nilesh

[2022-10-04 13:53] simeydk commented on #741
I'm keen to work on this.

The simplest would be to just do a full page iframe (`position:fixed; inset: 0`). This would make the  Would that work for you?

I had a quick look at `postmessage` based solutions. I'm not sure if this is possible for cross-domain iframes where you don't have the ability to run javascript on the domain inside the iframe. [This article by Chris Coyier on CSS-tricks also

[2022-10-05 11:34] fabianmossberg opened #809 "Suggestion: More obvious external links in the shownotes"
After listening to an episode, i often check the shownotes to check out the stuff that was talked about in the episode.

Today, all links are a gray color, regardless of if it's a sponsor, a link to a specific timestamp in the episode, the usual links to Wes and Scott's Twitter/Instagram, or external links to stuff mentioned in the episode.

It would be great if the external links would be easier

[2022-10-06 10:52] thevinitgupta opened #813 "Suggestion : Better Menu on small screens"
I would suggest having a Hamburger type menu for the episodes instead of just displaying at the top.
This will help for a better navigation on smaller devices like Mobile phones.

If you agree, I would love to work on this.

[2022-10-13 20:59] zachOS-tech opened #818 "Episode 484 plays/displays show notes for episode 520"
Episode 484 does not actually play, but instead, plays/displays show notes for episode 520.

This is due to episode 520 having `number: 484` in the front-matter number field.

Screenshots below of episode 484 and episode 520 both showing **Supper Club × ORMs with Nikolas Burke from Prisma**.

**Episode 520:**
![image](https://user-images.githubusercontent.com/50255197/195705879-90c16d20-5383-4a85-

[2022-10-13 21:04] #818 closed

[2022-11-16 00:06] #790 closed